In [2]:
import pandas  as pd
import numpy as np

In [2]:
actors=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/actors.csv', sep=',')

cols_to_check = ['ClipIds','Chars', 'OrdersCredit' , 'AddInfos']
actors[cols_to_check] = actors[cols_to_check].replace({'\[':'','\]':''},regex=True)

actors = actors.replace('', np.nan, regex=True)

actors.drop_duplicates(keep='first', inplace=True)
actors.drop_duplicates(subset=['FullName'], keep='first', inplace=True)

actors['pid']=(actors.FullName).rank(method='dense')
actors[['pid']] = actors[['pid']].astype(int)

people = actors[['pid','FullName']]

In [3]:
people.to_csv('people.csv', sep=',', encoding='utf-8', index=False)

In [4]:
act = actors.drop(['FullName'],axis=1)

act[['ClipIds']] = act[['ClipIds']].astype(str)
act[['AddInfos']] = act[['AddInfos']].astype(str)
act[['Chars']] = act[['Chars']].astype(str)
act[['OrdersCredit']] = act[['OrdersCredit']].astype(str)

def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    def splitListToRows(row,row_accumulator,target_column,separator):
        split_row = []
        i=0
        for c in target_column:
            split_row.append(row[c].split(separator))
            i+=1
            
        for s in range (0,len(split_row[0])):
            j=0
            new_row = row.to_dict()
            for c in target_column:
                new_row[c] = split_row[j][s]
                j+=1
            row_accumulator.append(new_row)
    new_rows = []
    df.apply(splitListToRows,axis=1,args = (new_rows,target_column,separator))
    global new_df
    new_df = pd.DataFrame(new_rows)
    return new_df

act = splitDataFrameList( act, ['ClipIds','AddInfos','Chars','OrdersCredit'] , '|')

In [5]:
act['charid']=(act.Chars).rank(method='dense')
act[['charid']] = act[['charid']].astype(int)

act = act.replace('', np.nan, regex=True)
act = act.replace('nan', np.nan, regex=True)

act = act[['pid', 'ClipIds', 'charid', 'Chars', 'OrdersCredit', 'AddInfos']]

act.drop_duplicates(subset=['pid', 'charid', 'ClipIds'], keep='first')

,pid,ClipIds,charid,Chars,OrdersCredit,AddInfos
0,1,1057981,1037042,Himself,25,NaN
1,3,1469364,1037042,Himself,NaN,NaN
2,54,1223831,2352124,Stevie,NaN,NaN
3,54,2812626,1037042,Himself,NaN,as Michael 'Power' Viera
4,54,3775221,2643043,Young Leo,NaN,NaN
5,54,4016759,2537253,Various/lyricist,NaN,NaN
6,4,1538400,535017,Defensive Tackle - Washington Sentinels,NaN,uncredited
7,5,151651,789578,Fishing Competitor,28,NaN
8,6,1010180,460027,Cooley's Customer/Celebration Guest,16,NaN
9,7,1023001,1864689,Nigth Club Owner,NaN,NaN
10,8,1767658,899280,Gitano 1,20,NaN
11,9,92429,2671777,NaN,NaN,NaN
12,23,812779,1037042,Himself,NaN,NaN
13,10,86836,1,NaN,45,NaN
14,10,349405,1037042,Himself,NaN,NaN
15,10,1063439,1037042,Himself,NaN,NaN
16,10,1161442,1037042,Himself,NaN,NaN
17,10,1229543,1037042,Himself,NaN,NaN
18,10,1855426,1037042,Himself,NaN,NaN
19,10,3237869,1037042,Himself,NaN,NaN
20,10,3349633,1037042,Himself,NaN,NaN
21,10,3385092,1037042,Himself,NaN,NaN
22,10,3385093,1037042,Himself,NaN,NaN
23,10,3385096,1037042,Himself,NaN,NaN
24,10,4232677,1037042,Himself,NaN,NaN
25,11,819138,1037042,Himself,NaN,NaN
26,11,1122281,2098479,Rebolledo,12,NaN
27,11,2155764,1037042,Himself,NaN,NaN
28,11,2491812,1,NaN,NaN,NaN
29,11,2491815,1037042,Himself,NaN,NaN
...,...,...,...,...,...,...
14221488,2006857,1363232,796382,Flugfreyja,24,NaN
14221489,2006860,1176722,248263,Björg,20,NaN
14221490,2006861,530062,674348,Dóra,24,NaN
14221491,2006861,659412,248214,Bjorg,NaN,as Lilja Thorisdottir
14221492,2006861,915391,2386409,Sóley,3,NaN
14221493,2006861,923117,2377583,Svala vinkona Tedda,13,NaN
14221494,2006861,1654249,1,NaN,NaN,as Lilja Þórisdóttir
14221495,2006861,3559536,1111137,Hotel Receptionist,13,as Lilja Thorisdottir
14221496,2006861,3771502,2078752,Ragnhildur,NaN,NaN
14221497,2006862,1035900,2618687,Woman in Bus,26,NaN
14221498,2006864,651955,2671777,NaN,30,NaN
14221499,2006865,1382894,2318235,Sonja,16,NaN
14221500,2006865,1769830,1,NaN,24,NaN
14221501,2006866,1311689,1,NaN,10,NaN
14221502,2006866,3027060,1,NaN,NaN,NaN
14221503,2006868,131666,309804,Bíkínistelpur,28,NaN
14221504,2006869,1312366,2671777,NaN,11,NaN
14221505,2006870,1311364,1095407,Hjúkrunarkona,9,NaN
14221506,2006871,282945,2620737,Woman returning home,NaN,NaN
14221507,2006872,651955,1,NaN,23,NaN
14221508,2006872,1312366,1,NaN,24,NaN
14221509,2006872,1769840,1,NaN,NaN,NaN
14221510,2006872,1772290,987908,Helga,3,NaN
14221511,2006873,1772267,1494918,Ljóshærð stelpa,NaN,NaN
14221512,2006874,1122854,2621284,Woman with baby carriage,2,NaN
14221513,2006875,19256,2671777,NaN,13,as Regína Þórðardóttir
14221514,2006876,1772290,1365445,Kona laxveiðimans,10,NaN
14221515,2006877,1769883,2671777,NaN,NaN,NaN
14221516,2006884,442873,799212,Foreldrar á fundi,74,NaN
14221517,2006886,236668,1972687,Pensionatværtinde,NaN,NaN

In [6]:
act.to_csv('act.csv', sep=',', encoding='utf-8', index=False)

In [3]:
act=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/act.csv', sep=',')

In [6]:
act['OrdersCredit'].fillna(0, inplace=True)

In [8]:
act['OrdersCredit']=act['OrdersCredit'].astype(int)

In [9]:
act.dtypes

pid              int64
ClipIds          int64
charid           int64
OrdersCredit     int64
AddInfos        object
dtype: object

In [10]:
act.to_csv('act.csv', sep=',', encoding='utf-8', index=False)