In [5]:
import pandas  as pd
import numpy as np
biographies=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/biographies.csv', sep=',', error_bad_lines=False)

len(biographies)

446949

In [4]:
df=biographies[biographies['WhereAreTheyNow'].str.len()>8000]
df

,FullName,RealName,Nickname,DateAndPlaceOfBirth,Height,Biography,Biographer,DateAndCauseOfDeath,Trivia,PersonalQuotes,Salary,Trademark,WhereAreTheyNow,BioId,pid
145546,Giles Ronald E.,Ronald Eaton Giles,Ronnie,13 November 1947 Hackensack New Jersey USA,"5' 5 1/2""",Ronald Eaton Giles was born in Hackensack New ...,Ronald E. Giles,NaN,Served in Vietnam (April 1966-April 1967) as a...,I've been in the Acting game off & on since 19...,NaN,NaN,(August 2007) Completed uncredited work as a P...,145547,637476

In [80]:
biographies['Biography']=biographies['Biography'][:3000]
biographies['Trivia']=biographies['Trivia'][:3000]
biographies['PersonalQuotes']=biographies['PersonalQuotes'][:3000]
biographies['Salary']=biographies['Salary'][:3000]
biographies['Trademark']=biographies['Trademark'][:3000]
biographies['WhereAreTheyNow']=biographies['WhereAreTheyNow'][:3000]

In [81]:
biographies.to_csv('biographies.csv', sep=',', encoding='utf-8', index=False)