In [74]:
import pandas  as pd
import numpy as np

In [75]:
clips=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/clips.csv', sep=',', error_bad_lines=False)
ratings=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/ratings.csv', sep=',', error_bad_lines=False)
len(clips)

1736160

In [71]:
clips= pd.merge(clips, ratings, how='left', on='ClipId')
clips.rename(columns={'ClipId': 'ClipId','ClipTitle': 'Title','ClipYear':'Year','ClipType':'Type'}, inplace=True)

In [73]:
clips = clips.replace('', np.nan, regex=True)
clips.drop_duplicates(keep='first', inplace=True)
clips.drop_duplicates(subset=['ClipId'], keep='first', inplace=True)
clips['Year'] = clips['Year'].astype(str).str.extract('(\d{4})')

df = clips[clips['Year'].astype(str).str.isnumeric() == False]
df

/Applications/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  after removing the cwd from sys.path.

7407       NaN
12309      NaN
13823      NaN
15435      NaN
17949      NaN
18454      NaN
18864      NaN
19406      NaN
24397      NaN
27077      NaN
27127      NaN
30043      NaN
30173      NaN
32661      NaN
36950      NaN
38083      NaN
39829      NaN
39876      NaN
40937      NaN
44016      NaN
46688      NaN
47189      NaN
47754      NaN
47801      NaN
48005      NaN
49261      NaN
49680      NaN
50633      NaN
52175      NaN
55885      NaN
          ...
1459888    NaN
1470141    NaN
1471034    NaN
1478518    NaN
1618028    NaN
1633567    NaN
1634908    NaN
1658413    NaN
1658414    NaN
1660026    NaN
1671964    NaN
1676858    NaN
1705217    NaN
1705218    NaN
1705219    NaN
1705220    NaN
1705221    NaN
1705222    NaN
1705223    NaN
1705224    NaN
1705225    NaN
1705226    NaN
1705227    NaN
1705228    NaN
1705229    NaN
1705230    NaN
1711461    NaN
1723114    NaN
1723510    NaN
1735272    NaN
Name: Year, Length: 636, dtype: object

In [ ]:
clips.to_csv('clips.csv', sep=',', encoding='utf-8', index=False)

In [8]:
clip_links=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/clip_links.csv', sep=',', error_bad_lines=False)
clip_links

        ClipFrom   ClipTo       LinkType
0        1773811  2773263  referenced in
1        1773846  4421922     references
2        1773846  1174056     references
3        1773846  2856142         spoofs
4        1773850  2303695     references
5        1773856  1257611     references
6        1773857  2694597     references
7        1773860  2656419     references
8        1773839  2181867  referenced in
9        1773839  2994540  referenced in
10       1773839  4124329  referenced in
11       1773839  1410693  referenced in
12       1773884   620384  referenced in
13       1773928  3171732     version of
14       1773935  2989805  referenced in
15       1773935   399777  referenced in
16       1774265   169668  referenced in
17       1774300  1124540     references
18       1774302  1538795    featured in
19       1774302  1471609     references
20       1774373   221211     references
21       1774373   531812     references
22       1774404  1162984     references
23       1774428  1538795    featured in
24       1774447  1538795    featured in
25       1774457  1538795    featured in
26       1774468  3947993     references
27       1774476  1538795    featured in
28       1774479   221211     references
29       1774479  1483422     references
...          ...      ...            ...
920993   1773789  1769840    followed by
920994   1773789  1769844    followed by
920995   1773789  1769848    followed by
920996   1773789  1769852    followed by
920997   1773789  1769853    followed by
920998   1773789  1769854    followed by
920999   1773789  1769858    followed by
921000   1773789  1769859    followed by
921001   1773789  1769862    followed by
921002   1773789  1769863    followed by
921003   1773789  1769865    followed by
921004   1773789  1769866    followed by
921005   1773789  1769867    followed by
921006   1773789  1769871    followed by
921007   1773789  1769873    followed by
921008   1773789  1769876    followed by
921009   1773789  1769877    followed by
921010   1773789  1769881    followed by
921011   1773789  1769883    followed by
921012   1773789  1769886    followed by
921013   1773789  1769888    followed by
921014   1773789  1769980    followed by
921015   1773789  1771387    followed by
921016   1773789   549356        follows
921017   1773789   657305        follows
921018   1773789  1769825        follows
921019   1773789  1769827        follows
921020   1773789  1769833        follows
921021   1773789  1769834        follows
921022   1773789  1772036        follows

[921023 rows x 3 columns]

In [9]:
clip_links.dropna(subset=['LinkType','ClipFrom','ClipTo'], inplace=True)
clip_links['LinkId']=(clip_links.LinkType).rank(method='dense')
link_types=clip_links[['LinkType','LinkId']].copy()
link_types.drop_duplicates(subset=['LinkId'], keep='first', inplace=True)
link_types=link_types[['LinkId', 'LinkType']]
link_types.to_csv('Link_types.csv', sep=',', encoding='utf-8', index=False)

In [10]:
clip_links.drop(['LinkType'],axis=1, inplace=True)
clip_links.drop_duplicates(keep='first', inplace=True)
clip_links.to_csv('Clip_Links.csv', sep=',', encoding='utf-8', index=False)

In [34]:
genres=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/genres.csv', sep=',', error_bad_lines=False)
genres['gid']=(genres.Genre).rank(method='dense')
Clip_genre=genres[['gid','Genre']].copy()
Clip_genre.drop_duplicates(subset=['gid'], keep='first', inplace=True)
Clip_genre.to_csv('Clip_genre.csv', sep=',', encoding='utf-8', index=False)

In [37]:
genres.drop(['Genre'],axis=1, inplace=True)
genres.drop_duplicates(keep='first', inplace=True)
genres.to_csv('has_genre.csv', sep=',', encoding='utf-8', index=False)

In [46]:
filmed_in=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/countries.csv', sep=',', error_bad_lines=False)
filmed_in['countid']=(filmed_in.CountryName).rank(method='dense')
countries=filmed_in[['countid','CountryName']].copy()
countries.drop_duplicates(subset=['countid'], keep='first', inplace=True)
countries.to_csv('countries.csv', sep=',', encoding='utf-8', index=False)

In [47]:
filmed_in.drop(['CountryName'],axis=1, inplace=True)
filmed_in.drop_duplicates(keep='first', inplace=True)
filmed_in.to_csv('filmed_in.csv', sep=',', encoding='utf-8', index=False)

         ClipId  countid
0             4    203.0
1       1773811    203.0
2       1773839    203.0
3       1773878    203.0
4       1773880    202.0
5       1773880     33.0
6       1773882    203.0
7       1773884    203.0
8       1773888    203.0
9       1773908    203.0
10      1773928    203.0
11      1773935    203.0
12      1774131    203.0
13      1774147    203.0
14      1774151    203.0
15      1774152     10.0
16      1774156    203.0
17      1774265    203.0
18      1774286    203.0
19      1774289    202.0
20      1774291    202.0
21      1774293    202.0
22      1774296    202.0
23      1774300    202.0
24      1774302    202.0
25      1774303    202.0
26      1774305    202.0
27      1774308    202.0
28      1774311    202.0
29      1774315    202.0
...         ...      ...
904073  1773744    199.0
904074  1773745    199.0
904075  1773746    199.0
904076  1773750    199.0
904077  1773751    199.0
904078  1773753    199.0
904079  1773755    199.0
904080  1773759    199.0
904081  1773763    199.0
904082  1773764    199.0
904083  1773773    199.0
904084  1773766    199.0
904085  1773770    199.0
904086  1773771    199.0
904087  1773771     93.0
904088  1773771     65.0
904089  1773775    199.0
904090  1773776    199.0
904091  1773778    199.0
904092  1773782     86.0
904093  1773787     86.0
904094  1773784     86.0
904095  1773789     86.0
904096  1773793     86.0
904097  1773795     86.0
904098  1773796     86.0
904099  1773799     26.0
904100  1773802    125.0
904101  1773804    125.0
904102  1773807    203.0

[900129 rows x 2 columns]

In [ ]:
released_in=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/release_dates.csv', sep=',', error_bad_lines=False)
released_in.rename(columns={'ReleaseCountry': 'CountryName'}, inplace=True)
released_in.dropna(subset=['CountryName'],inplace=True)
countries=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/countries.csv', sep=',', error_bad_lines=False)
countriestoadd = released_in[np.isnan(released_in['countid'])].copy()
countriestoadd['countid']=(countriestoadd.CountryName).rank(method='dense')+countries['countid'].max()
countriestoadd[['countid']] = countriestoadd[['countid']].astype(int)
countriestoadd= countriestoadd[['countid','CountryName']]
countries = pd.concat([countries, countriestoadd])
countries.drop_duplicates(keep='first', inplace=True)
countries.to_csv('countries.csv', sep=',', encoding='utf-8', index=False)