In [40]:
import pandas  as pd
import numpy as np

In [41]:
directors=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/directors.csv', sep=',')
people_actors=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/people.csv', sep=',')

In [42]:
cols_to_check = ['ClipIds','Roles','AddInfos']
directors[cols_to_check] = directors[cols_to_check].replace({'\[':'','\]':''},regex=True)

directors = directors.replace('', np.nan, regex=True)

directors.drop_duplicates(keep='first', inplace=True)
directors.drop_duplicates(subset=['FullName'], keep='first', inplace=True)

In [43]:
result = pd.merge(directors, people_actors, how='left', on='FullName')
result = result[np.isnan(result['pid'])]
result['pid']=(result.FullName).rank(method='dense')+people_actors['pid'].max()
result[['pid']] = result[['pid']].astype(int)
result= result[['pid','FullName']]
people = pd.concat([people_actors, result])

In [45]:
people.to_csv('people.csv', sep=',', encoding='utf-8', index=False)

In [47]:
direct = pd.merge(directors, people, how='left', on='FullName')

In [49]:
direct = direct.drop(['FullName'],axis=1)

direct[['ClipIds']] = direct[['ClipIds']].astype(str)
direct[['AddInfos']] = direct[['AddInfos']].astype(str)
direct[['Roles']] = direct[['Roles']].astype(str)

def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    def splitListToRows(row,row_accumulator,target_column,separator):
        split_row = []
        i=0
        for c in target_column:
            split_row.append(row[c].split(separator))
            i+=1
            
        for s in range (0,len(split_row[0])):
            j=0
            new_row = row.to_dict()
            for c in target_column:
                new_row[c] = split_row[j][s]
                j+=1
            row_accumulator.append(new_row)
    new_rows = []
    df.apply(splitListToRows,axis=1,args = (new_rows,target_column,separator))
    global new_df
    new_df = pd.DataFrame(new_rows)
    return new_df

direct = splitDataFrameList( direct, ['ClipIds','AddInfos','Roles'] , '|')

In [50]:
direct = direct.replace('', np.nan, regex=True)
direct = direct.replace('nan', np.nan, regex=True)

direct = direct[['pid', 'ClipIds', 'Roles', 'AddInfos']]

direct.drop_duplicates(subset=['pid','ClipIds'], keep=False)

             pid  ClipIds        Roles     AddInfos
0        2006887    51264          NaN          NaN
1        2006887   742507          NaN          NaN
2        2006887   960777          NaN          NaN
3             61   348914          NaN          NaN
4             61  3600723          NaN          NaN
5             61  3600724          NaN          NaN
6             61  3600725          NaN          NaN
7             67   714863          NaN          NaN
8             85  1799926          NaN          NaN
9        2006888  1228184          NaN          NaN
10       2006889    59337          NaN          NaN
11       2006890  1473220          NaN          NaN
12       2006891   168601          NaN          NaN
13       2006892  1113966  co-director          NaN
14       2147539   222530          NaN          NaN
15       2006893   269571          NaN          NaN
16       2006894   279954          NaN          NaN
17       2006897  1140559          NaN          NaN
18       2006898   810874          NaN          NaN
19       2006898   831727          NaN          NaN
20       2006898  1804267          NaN          NaN
21       2006898  1804272          NaN          NaN
22       2006898  1804718          NaN          NaN
23       2006898  1804722          NaN          NaN
24       2006898  1804732          NaN          NaN
25       2006898  1804733          NaN          NaN
26       2006898  1804740          NaN          NaN
27       2006898  1804750          NaN          NaN
28       2006898  1804755          NaN          NaN
29       2006898  1804763          NaN          NaN
...          ...      ...          ...          ...
1187914  2148864  1244566          NaN          NaN
1187915  2148865  3783644          NaN          NaN
1187916  2148866   748256          NaN          NaN
1187917  2006687  1672516          NaN          NaN
1187918  2006693   389162          NaN          NaN
1187919  2148867   176190          NaN          NaN
1187920  2148867   593229          NaN          NaN
1187921  2148867  1149003          NaN          NaN
1187922  2148867  1770990          NaN          NaN
1187923  2148868   268482          NaN          NaN
1187924  2148869   955633          NaN          NaN
1187925  2148870   485701          NaN          NaN
1187926  2006738   434655          NaN          NaN
1187927  2148871   406650          NaN          NaN
1187928  2148872  1351946          NaN          NaN
1187929  2148872  1769836          NaN          NaN
1187930  2148872  1769863          NaN          NaN
1187931  2148872  1769877          NaN          NaN
1187932  2006835  1769840          NaN          NaN
1187933  2148873  1196441          NaN          NaN
1187934  2148873  1772043          NaN          NaN
1187935  2148873  1772046          NaN          NaN
1187936  2148874  1772036          NaN          NaN
1187937  2148875  3662348          NaN          NaN
1187938  2148876  1773784          NaN          NaN
1187939  2148876  3662348          NaN          NaN
1187940  2148877    13310          NaN          NaN
1187941  2006885   642546          NaN          NaN
1187942  2006885  1551625          NaN  unconfirmed
1187943  2148878   463365          NaN          NaN

[1186116 rows x 4 columns]

In [51]:
direct.to_csv('direct.csv', sep=',', encoding='utf-8', index=False)