In [3]:
import pandas  as pd
import numpy as np

In [10]:
languages=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/languages.csv', sep=',', error_bad_lines=False)
languages[['Language']] = languages[['Language']].replace({'\(':'','\)':''},regex=True)
languages.dropna(subset=['Language'], inplace=True)
languages['lid']=(languages.Language).rank(method='dense')
Clip_languages=languages[['lid','Language']].copy()
Clip_languages.drop_duplicates(subset=['lid'], keep='first', inplace=True)
Clip_languages.dropna(subset=['lid'], inplace=True)
Clip_languages.to_csv('Clip_languages.csv', sep=',', encoding='utf-8', index=False)
languages.drop(['Language'],axis=1, inplace=True)
languages.drop_duplicates(keep='first', inplace=True)
languages.to_csv('has_language.csv', sep=',', encoding='utf-8', index=False)

In [5]:
languages=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/act.csv', sep=',', error_bad_lines=False)
languages

              pid  ClipIds   charid  OrdersCredit                  AddInfos
0               1  1057981  1037042            25                       NaN
1               3  1469364  1037042             0                       NaN
2              54  1223831  2352124             0                       NaN
3              54  2812626  1037042             0  as Michael 'Power' Viera
4              54  3775221  2643043             0                       NaN
5              54  4016759  2537253             0                       NaN
6               4  1538400   535017             0                uncredited
7               5   151651   789578            28                       NaN
8               6  1010180   460027            16                       NaN
9               7  1023001  1864689             0                       NaN
10              8  1767658   899280            20                       NaN
11             23   812779  1037042             0                       NaN
12             10   349405  1037042             0                       NaN
13             10  1063439  1037042             0                       NaN
14             10  1161442  1037042             0                       NaN
15             10  1229543  1037042             0                       NaN
16             10  1855426  1037042             0                       NaN
17             10  3237869  1037042             0                       NaN
18             10  3349633  1037042             0                       NaN
19             10  3385092  1037042             0                       NaN
20             10  3385093  1037042             0                       NaN
21             10  3385096  1037042             0                       NaN
22             10  4232677  1037042             0                       NaN
23             11   819138  1037042             0                       NaN
24             11  1122281  2098479            12                       NaN
25             11  2155764  1037042             0                       NaN
26             11  2491815  1037042             0                       NaN
27             11  2491822  1037042             0                       NaN
28             11  2491828  1037042             0                       NaN
29             11  2491830  1037042             0                       NaN
...           ...      ...      ...           ...                       ...
12371103  2006845  1683075  1370733            51                       NaN
12371104  2006847   695880  1539229            33                       NaN
12371105  2006849   419658  2509264            26                       NaN
12371106  2006850     4892   938065            27                       NaN
12371107  2006850  1213560  2675965             3                       NaN
12371108  2006850  1362017   935096             4             as Lilja Nótt
12371109  2006851  2798315  1008127             0                       NaN
12371110  2006852   329335   838668            14                       NaN
12371111  2006855    86515    93233             3                       NaN
12371112  2006855  1772290   943946             2                       NaN
12371113  2006856  1176722  2345413            24                       NaN
12371114  2006857  1363232   796382            24                       NaN
12371115  2006860  1176722   248263            20                       NaN
12371116  2006861   530062   674348            24                       NaN
12371117  2006861   659412   248214             0     as Lilja Thorisdottir
12371118  2006861   915391  2386409             3                       NaN
12371119  2006861   923117  2377583            13                       NaN
12371120  2006861  3559536  1111137            13     as Lilja Thorisdottir
12371121  2006861  3771502  2078752             0                       NaN
12371122  2006862  1035900  2618687            26                       NaN
12371123  2006865  1382894  2318235            16                       NaN
12371124  2006868   131666   309804            28                       NaN
12371125  2006870  1311364  1095407             9                       NaN
12371126  2006871   282945  2620737             0                       NaN
12371127  2006872  1772290   987908             3                       NaN
12371128  2006873  1772267  1494918             0                       NaN
12371129  2006874  1122854  2621284             2                       NaN
12371130  2006876  1772290  1365445            10                       NaN
12371131  2006884   442873   799212            74                       NaN
12371132  2006886   236668  1972687             0                       NaN

[12371133 rows x 5 columns]