In [1]:
import pandas  as pd
import numpy as np

In [2]:
producers=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/producers.csv', sep=',')
people_old=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/people.csv', sep=',')

In [3]:
cols_to_check = ['ClipIds','Roles','AddInfos']
producers[cols_to_check] = producers[cols_to_check].replace({'\[':'','\]':''},regex=True)

producers = producers.replace('', np.nan, regex=True)

producers.drop_duplicates(keep='first', inplace=True)
producers.drop_duplicates(subset=['FullName'], keep='first', inplace=True)

In [4]:
result = pd.merge(producers, people_old, how='left', on='FullName')
result = result[np.isnan(result['pid'])]
result['pid']=(result.FullName).rank(method='dense')+people_old['pid'].max()
result[['pid']] = result[['pid']].astype(int)
result= result[['pid','FullName']]
people = pd.concat([people_old, result])

In [5]:
people.to_csv('people.csv', sep=',', encoding='utf-8', index=False)

In [6]:
produce = pd.merge(producers, people, how='left', on='FullName')

In [7]:
produce = produce.drop(['FullName'],axis=1)

produce[['ClipIds']] = produce[['ClipIds']].astype(str)
produce[['AddInfos']] = produce[['AddInfos']].astype(str)
produce[['Roles']] = produce[['Roles']].astype(str)

def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    def splitListToRows(row,row_accumulator,target_column,separator):
        split_row = []
        i=0
        for c in target_column:
            split_row.append(row[c].split(separator))
            i+=1
            
        for s in range (0,len(split_row[0])):
            j=0
            new_row = row.to_dict()
            for c in target_column:
                new_row[c] = split_row[j][s]
                j+=1
            row_accumulator.append(new_row)
    new_rows = []
    df.apply(splitListToRows,axis=1,args = (new_rows,target_column,separator))
    global new_df
    new_df = pd.DataFrame(new_rows)
    return new_df

produce = splitDataFrameList( produce, ['ClipIds','AddInfos','Roles'] , '|')

In [8]:
produce = produce.replace('', np.nan, regex=True)
produce = produce.replace('nan', np.nan, regex=True)

produce = produce[['pid', 'ClipIds', 'Roles', 'AddInfos']]

produce.drop_duplicates(subset=['pid','ClipIds'], keep=False)

             pid  ClipIds                   Roles                 AddInfos
0        2006887   742507                producer                      NaN
1        2006887   960777                producer                      NaN
2             54  4016759        segment producer                     2000
3        2148879  1431901                producer                      NaN
4             67   714863                producer                      NaN
5        2148880   214323                producer                      NaN
6        2148881    36630      associate producer                      NaN
7        2148882   576822             co-producer                      NaN
8             85  1799926                producer                      NaN
9             85  1833390                producer                      NaN
10            85  1833397                producer                      NaN
11            85  1833399                producer                      NaN
12            85  1833411                producer                      NaN
13            85  1833413                producer                      NaN
14            85  1833416                producer                      NaN
15            85  1833425                producer                      NaN
16            85  1833439                producer                      NaN
17            85  1833442                producer                      NaN
18            85  1833458                producer                      NaN
19            85  1833481                producer                      NaN
20            85  1833492                producer                      NaN
21            85  1833503                producer                      NaN
22            85  1833511                producer                      NaN
23            85  1833513                producer                      NaN
24            85  1833515                producer                      NaN
25            85  1833542                producer                      NaN
26            85  1833555                producer                      NaN
27            85  1833588                producer                      NaN
28            85  1833592                producer                      NaN
29            85  1833594                producer                      NaN
...          ...      ...                     ...                      ...
2611309  2006781  1678141                producer                      NaN
2611310  2347659  1363232                producer                      NaN
2611311  2347660  1243634                producer  as Ísleifur Thorhallson
2611312  2347661    70833                producer                      NaN
2611313  2347661   111613             co-producer      as Snorri Thorisson
2611314  2347661   205334                producer                      NaN
2611315  2347661   659412                producer                      NaN
2611318  2347661  1284230  line producer: Iceland      as Snorri Thorisson
2611319  2347661  1571942           line producer                      NaN
2611320  2347661  1656618                producer                      NaN
2611321  2347661  1685230      executive producer                      NaN
2611322  2347661  1713873                producer                      NaN
2611323  2347661  1772290                producer                      NaN
2611324  2347661  2674585                producer                     2009
2611325  2347662   205334             co-producer                      NaN
2611326  2347662  1225692   co-executive producer                      NaN
2611327  2347662  2674585             co-producer                      NaN
2611328  2006879   217135           line producer                      NaN
2611329  2006880     4892                producer                      NaN
2611330  2006880   131666                producer                      NaN
2611331  2006880   335679             co-producer     as Ingvar Thordarson
2611332  2006880   360153             co-producer                      NaN
2611333  2006880   653955             co-producer                      NaN
2611334  2006880   659077                producer                      NaN
2611335  2006880   983686                producer                      NaN
2611336  2006880  1151901                producer   as Ingvar H. Þórðarson
2611337  2006880  1213556                producer                      NaN
2611340  2006880  1772267                producer                      NaN
2611341  2006880  1773787                producer                      NaN
2611342  2347663   799943           line producer                      NaN

[2550532 rows x 4 columns]

In [9]:
produce.to_csv('produce.csv', sep=',', encoding='utf-8', index=False)