In [2]:
import pandas  as pd
import numpy as np
running_times=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/running_times.csv', sep=',', error_bad_lines=False)
running_times.rename(columns={'ReleaseCountry': 'CountryName','RunningTime': 'runtime'}, inplace=True)
running_times.dropna(subset=['runtime'], inplace=True)
running_times[['CountryName']] = running_times[['CountryName']].fillna(value='Other')
running_times.dropna(subset=['ClipId'], inplace=True)
running_times

         ClipId  CountryName runtime
0             4          USA      83
1       1773811        Other      30
2       1773839          USA      30
3       1773843        Other      30
4       1773856        Other      30
5       1773857        Other      30
6       1773863        Other      30
7       1773873        Other      30
8       1773880       Canada      30
9       1773884        Other      30
10      1773928        Other      60
11      1773928    Australia     130
12      1773935        Other      30
13      1774151          USA       3
14      1774152    Australia      30
15      1774156          USA      22
16      1774265        Other      60
17      1774289           UK      30
18      1774289           UK      35
19      1774289           UK      25
20      1774289           UK      45
21      1774293          USA      44
22      1774296          USA      29
23      1774303          USA      29
24      1774305          USA      29
25      1774311          USA      29
26      1774345          USA      30
27      1774351           UK      45
28      1774370          USA      29
29      1774381          USA      27
...         ...          ...     ...
588091  1773592      Germany      89
588093  1773610        Other      74
588094  1773633        Other      15
588095  1773635        Other      16
588096  1773636      Hungary      18
588097  1773638        Other      41
588098  1773641      Hungary      78
588099  1773646        Other      90
588100  1773654        Other      27
588101  1773660      Hungary      90
588102  1773661      Hungary      87
588103  1773662        Other     100
588104  1773682        Other      58
588105  1773684      Hungary      77
588106  1773686        Other      20
588107  1773687        Other     163
588108  1773714        Other      88
588109  1773694        Other      77
588110  1773713     Portugal      89
588111  1773738        Other     109
588112  1773764        Other      11
588113  1773771  Switzerland      92
588114  1773782      Finland      45
588115  1773793        Other      88
588116  1773795      Iceland      20
588117  1773796      Iceland      19
588118  1773799       Brazil       9
588119  1773802        Other      14
588120  1773804        Other      90
588121  1773807        Other      26

[553067 rows x 3 columns]

In [75]:
mechok = running_times[running_times['runtime'].astype(str).str.isnumeric() == False].copy()
ok = running_times[running_times['runtime'].astype(str).str.isnumeric() == True].copy()

mechok['runtime']=mechok['runtime'].str.extract('(\d+)(\.|\'|\s*minutes|\s*mins|\s*min)',expand=True)
mechok.dropna(subset=['runtime'],inplace=True)

running_times = pd.concat([ok,mechok])

In [76]:
len(running_times)

552574

In [77]:
running_times

         ClipId  CountryName runtime
0             4          USA      83
1       1773811        Other      30
2       1773839          USA      30
3       1773843        Other      30
4       1773856        Other      30
5       1773857        Other      30
6       1773863        Other      30
7       1773873        Other      30
8       1773880       Canada      30
9       1773884        Other      30
10      1773928        Other      60
11      1773928    Australia     130
12      1773935        Other      30
13      1774151          USA       3
14      1774152    Australia      30
15      1774156          USA      22
16      1774265        Other      60
17      1774289           UK      30
18      1774289           UK      35
19      1774289           UK      25
20      1774289           UK      45
21      1774293          USA      44
22      1774296          USA      29
23      1774303          USA      29
24      1774305          USA      29
25      1774311          USA      29
26      1774345          USA      30
27      1774351           UK      45
28      1774370          USA      29
29      1774381          USA      27
...         ...          ...     ...
564479  1677003    Australia       8
565801  1682470        Other      24
565964  1683120      Finland      14
566052  1683465          USA       7
566431  1685207        Italy       8
569637  1696100          USA       1
569852  1696892        Other      57
570013  1697569        Other      20
570298  1699089  Philippines       3
570299  1699089        Other       3
570699  1700543      Germany       1
571357  1703365          USA      13
573184  1711178           UK      13
575530  1722046          USA      15
575537  1722082          USA      13
575593  1722408          USA      13
575626  1722304       Canada      16
575638  1722515          USA       6
575743  1723042          USA      16
577319  1729502    Australia       7
577320  1729502    Australia       6
578181  1732750          USA      12
578632  1734697          USA       5
578817  1735385          USA      12
579025  1736644          USA      17
581094  1746583          USA      10
583714  1757661          USA       5
584673  1761418        Other       5
584817  1762145        Italy       8
585339  1764014          USA       8

[552574 rows x 3 columns]

In [78]:
running_times['runtime']=running_times['runtime'].astype(int)
running_times['rid']=(running_times.runtime).rank(method='dense')
running_times['rid']=running_times['rid'].astype(int)
Runningtimes = running_times[['rid','runtime']].copy()
Runningtimes.drop_duplicates(subset=['rid'],keep='first', inplace=True)
Runningtimes.to_csv('Runningtimes.csv', sep=',', encoding='utf-8', index=False)

In [79]:
x=Runningtimes[Runningtimes['runtime']==2]
running_times

         ClipId  CountryName  runtime  rid
0             4          USA       83   84
1       1773811        Other       30   31
2       1773839          USA       30   31
3       1773843        Other       30   31
4       1773856        Other       30   31
5       1773857        Other       30   31
6       1773863        Other       30   31
7       1773873        Other       30   31
8       1773880       Canada       30   31
9       1773884        Other       30   31
10      1773928        Other       60   61
11      1773928    Australia      130  131
12      1773935        Other       30   31
13      1774151          USA        3    4
14      1774152    Australia       30   31
15      1774156          USA       22   23
16      1774265        Other       60   61
17      1774289           UK       30   31
18      1774289           UK       35   36
19      1774289           UK       25   26
20      1774289           UK       45   46
21      1774293          USA       44   45
22      1774296          USA       29   30
23      1774303          USA       29   30
24      1774305          USA       29   30
25      1774311          USA       29   30
26      1774345          USA       30   31
27      1774351           UK       45   46
28      1774370          USA       29   30
29      1774381          USA       27   28
...         ...          ...      ...  ...
564479  1677003    Australia        8    9
565801  1682470        Other       24   25
565964  1683120      Finland       14   15
566052  1683465          USA        7    8
566431  1685207        Italy        8    9
569637  1696100          USA        1    2
569852  1696892        Other       57   58
570013  1697569        Other       20   21
570298  1699089  Philippines        3    4
570299  1699089        Other        3    4
570699  1700543      Germany        1    2
571357  1703365          USA       13   14
573184  1711178           UK       13   14
575530  1722046          USA       15   16
575537  1722082          USA       13   14
575593  1722408          USA       13   14
575626  1722304       Canada       16   17
575638  1722515          USA        6    7
575743  1723042          USA       16   17
577319  1729502    Australia        7    8
577320  1729502    Australia        6    7
578181  1732750          USA       12   13
578632  1734697          USA        5    6
578817  1735385          USA       12   13
579025  1736644          USA       17   18
581094  1746583          USA       10   11
583714  1757661          USA        5    6
584673  1761418        Other        5    6
584817  1762145        Italy        8    9
585339  1764014          USA        8    9

[552574 rows x 4 columns]

In [80]:
running_times.drop(['runtime'],axis=1,inplace=True)
countries=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/countries.csv', sep=',', error_bad_lines=False)
running_times

         ClipId  CountryName  rid
0             4          USA   84
1       1773811        Other   31
2       1773839          USA   31
3       1773843        Other   31
4       1773856        Other   31
5       1773857        Other   31
6       1773863        Other   31
7       1773873        Other   31
8       1773880       Canada   31
9       1773884        Other   31
10      1773928        Other   61
11      1773928    Australia  131
12      1773935        Other   31
13      1774151          USA    4
14      1774152    Australia   31
15      1774156          USA   23
16      1774265        Other   61
17      1774289           UK   31
18      1774289           UK   36
19      1774289           UK   26
20      1774289           UK   46
21      1774293          USA   45
22      1774296          USA   30
23      1774303          USA   30
24      1774305          USA   30
25      1774311          USA   30
26      1774345          USA   31
27      1774351           UK   46
28      1774370          USA   30
29      1774381          USA   28
...         ...          ...  ...
564479  1677003    Australia    9
565801  1682470        Other   25
565964  1683120      Finland   15
566052  1683465          USA    8
566431  1685207        Italy    9
569637  1696100          USA    2
569852  1696892        Other   58
570013  1697569        Other   21
570298  1699089  Philippines    4
570299  1699089        Other    4
570699  1700543      Germany    2
571357  1703365          USA   14
573184  1711178           UK   14
575530  1722046          USA   16
575537  1722082          USA   14
575593  1722408          USA   14
575626  1722304       Canada   17
575638  1722515          USA    7
575743  1723042          USA   17
577319  1729502    Australia    8
577320  1729502    Australia    7
578181  1732750          USA   13
578632  1734697          USA    6
578817  1735385          USA   13
579025  1736644          USA   18
581094  1746583          USA   11
583714  1757661          USA    6
584673  1761418        Other    6
584817  1762145        Italy    9
585339  1764014          USA    9

[552574 rows x 3 columns]

In [81]:
running_times=pd.merge(running_times, countries, how='left', on='CountryName')
running_times['countid'] = running_times['countid'].fillna(value='223')
running_times.drop(['CountryName'],axis=1,inplace=True)
clips=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/clips.csv', sep=',', error_bad_lines=False)
clips.rename(columns={'ClipIds': 'ClipId'}, inplace=True)
running_times=pd.merge(running_times, clips, how='left', on='ClipId')
running_times

,ClipId,rid,countid,Title,Year,Type,Votes,Rank
0,4,84,203,!Women Art Revolution,2010.0,NaN,8.0,8.0
1,1773811,31,223,#1 Single,2006.0,SE,51.0,4.5
2,1773839,31,203,$#*! My Dad Says,2010.0,SE,753.0,6.3
3,1773843,31,223,$#*! My Dad Says {Code Ed (#1.4)},2010.0,SE,32.0,6.9
4,1773856,31,223,$#*! My Dad Says {Goodson Goes Deep (#1.12)},2010.0,SE,21.0,7.2
5,1773857,31,223,$#*! My Dad Says {Make a Wish (#1.9)},2010.0,SE,23.0,7.0
6,1773863,31,223,$#*! My Dad Says {Pilot (#1.1)},2010.0,SE,72.0,5.7
7,1773873,31,223,$#*! My Dad Says {Wi-Fight (#1.2)},2010.0,SE,45.0,6.3
8,1773880,31,33,$100 Taxi Ride,2001.0,SE,11.0,5.5
9,1773884,31,223,$100000 Name That Tune,1984.0,SE,10.0,7.1
10,1773928,61,223,$25 Million Dollar Hoax,2004.0,SE,19.0,2.7
11,1773928,131,10,$25 Million Dollar Hoax,2004.0,SE,19.0,2.7
12,1773935,31,223,$40 a Day,2002.0,SE,122.0,5.7
13,1774151,4,203,$5 Cover: Seattle {B-Side: Eric Goetz - Film C...,2009.0,SE,NaN,NaN
14,1774152,31,10,$50000 Letterbox,1980.0,SE,NaN,NaN
15,1774156,23,203,$9.99,2003.0,SE,15.0,7.8
16,1774265,61,223,$weepstake$,1979.0,SE,8.0,7.5
17,1774289,31,202,'Allo 'Allo!,1982.0,SE,4002.0,8.7
18,1774289,36,202,'Allo 'Allo!,1982.0,SE,4002.0,8.7
19,1774289,26,202,'Allo 'Allo!,1982.0,SE,4002.0,8.7
20,1774289,46,202,'Allo 'Allo!,1982.0,SE,4002.0,8.7
21,1774293,45,203,'Allo 'Allo! {A Bun in the Oven (#8.0)},1982.0,SE,9.0,7.7
22,1774296,30,203,'Allo 'Allo! {A Fishy Sendoff (#9.5)},1982.0,SE,11.0,7.7
23,1774303,30,203,'Allo 'Allo! {A Winkle in Time (#9.6)},1982.0,SE,32.0,9.3
24,1774305,30,203,'Allo 'Allo! {A Woman Never Lies (#8.2)},1982.0,SE,7.0,7.3
25,1774311,30,203,'Allo 'Allo! {Arousing Suspicions (#8.1)},1982.0,SE,8.0,7.7
26,1774345,31,203,'Allo 'Allo! {Fighting with Windmills (#9.1)},1982.0,SE,12.0,7.8
27,1774351,46,202,'Allo 'Allo! {Flight of Fancy (#3.4)},1982.0,SE,27.0,8.0
28,1774370,30,203,'Allo 'Allo! {Hitler's Last Heil (#8.3)},1982.0,SE,8.0,7.3
29,1774381,28,203,'Allo 'Allo! {Lines of Communication (#7.5)},1982.0,SE,11.0,7.2
...,...,...,...,...,...,...,...,...
552544,1677003,9,10,Version of Events,2000.0,NaN,NaN,NaN
552545,1682470,25,223,Viktor & Hugo (In Shorts),2004.0,NaN,NaN,NaN
552546,1683120,15,64,Vilma,2003.0,TV,NaN,NaN
552547,1683465,8,203,Vineyard,2004.0,NaN,NaN,NaN
552548,1685207,9,93,Virus,2003.0,NaN,NaN,NaN
552549,1696100,2,203,Waking from Spring Dreams,2003.0,NaN,NaN,NaN
552550,1696892,58,223,Walking the Line,2005.0,NaN,72.0,7.7
552551,1697569,21,223,Walter King,2006.0,NaN,6.0,8.5
552552,1699089,4,156,War Is Real,2005.0,V,NaN,NaN
552553,1699089,4,223,War Is Real,2005.0,V,NaN,NaN
552554,1700543,2,70,Was ist Wüste?,2003.0,NaN,NaN,NaN
552555,1703365,14,203,We All Fall Down (II),2005.0,NaN,45.0,6.3
552556,1711178,14,202,What Happened to the Rabbit?,2006.0,NaN,9.0,8.0
552557,1722046,16,203,Why Is God...,2001.0,NaN,NaN,NaN
552558,1722082,14,203,Why Kyle... Why Not?,2005.0,NaN,NaN,NaN
552559,1722408,14,203,Why We Do It,2005.0,NaN,NaN,NaN
552560,1722304,17,33,Why the Anderson Children Didn't Come to Dinner,2003.0,NaN,118.0,7.3
552561,1722515,7,203,Why?,2004.0,NaN,NaN,NaN
552562,1723042,17,203,Widowmaker,2005.0,NaN,10.0,5.0
552563,1729502,8,10,Wisdom of the Ancients Episode 8: Hanging Out.,2004.0,NaN,NaN,NaN
552564,1729502,7,10,Wisdom of the Ancients Episode 8: Hanging Out.,2004.0,NaN,NaN,NaN
552565,1732750,13,203,Woman's Solitude,1997.0,NaN,NaN,NaN
552566,1734697,6,203,Work Farm,2005.0,NaN,NaN,NaN
552567,1735385,13,203,World of Weird,2004.0,NaN,NaN,NaN
552568,1736644,18,203,Wreckless,1935.0,NaN,NaN,NaN
552569,1746583,11,203,Yes and...,2005.0,NaN,NaN,NaN
552570,1757661,6,203,Zarpa,2001.0,NaN,NaN,NaN
552571,1761418,6,223,Zielgerade,2005.0,NaN,10.0,5.9
552572,1762145,9,93,Zippo,2003.0,NaN,24.0,7.5
552573,1764014,9,203,Zombie-American,2005.0,NaN,55.0,7.9

In [82]:
running_times.dropna(subset=['Title','ClipId'], inplace=True)
running_times.drop(['Title','Year','Type','Votes','Rank'],axis=1,inplace=True)
running_times.drop_duplicates(subset=['rid','ClipId','countid'],keep='first', inplace=True)
running_times.to_csv('runs_for.csv', sep=',', encoding='utf-8', index=False)

In [84]:
len(running_times)

550672

In [86]:
running_times=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/runs_for.csv', sep=',', error_bad_lines=False)
running_times.drop_duplicates(subset=['rid','ClipId','countid'],keep='first', inplace=True)
running_times.to_csv('runs_for.csv', sep=',', encoding='utf-8', index=False)

In [5]:
running_times=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/Runningtimes.csv', sep=',', error_bad_lines=False)
running_times

     rid  runtime
0     84       83
1     31       30
2     61       60
3    131      130
4      4        3
5     23       22
6     36       35
7     26       25
8     46       45
9     45       44
10    30       29
11    28       27
12    29       28
13    41       40
14    22       21
15    27       26
16     6        5
17    53       52
18    16       15
19    51       50
20    56       55
21   161      160
22    86       85
23   153      152
24    76       75
25    58       57
26   141      140
27   181      180
28   164      163
29    44       43
..   ...      ...
639  452      503
640  657     3608
641  321      321
642  362      365
643  613     1400
644  624     1560
645  630     1680
646  625     1568
647  562      775
648  663     5220
649  494      583
650  463      523
651  544      710
652  616     1428
653  653     2880
654  583      961
655  335      335
656  430      462
657  403      418
658  596     1130
659  639     1973
660  502      602
661  654     3122
662  333      333
663  408      427
664  393      403
665  581      950
666  651     2382
667  492      579
668  637     1967

[669 rows x 2 columns]