In [1]:
import pandas  as pd
import numpy as np

In [2]:
writers=pd.read_csv('/Users/macbook/Desktop/BA6/Database/db2018imdb/writers.csv', sep=',')
people_old=pd.read_csv('/Users/macbook/Desktop/BA6/Database/newfiles/people.csv', sep=',')

In [3]:
cols_to_check = ['ClipIds','Roles','AddInfos', 'WorkTypes']
writers[cols_to_check] = writers[cols_to_check].replace({'\[':'','\]':''},regex=True)

writers = writers.replace('', np.nan, regex=True)

writers.drop_duplicates(keep='first', inplace=True)
writers.drop_duplicates(subset=['FullName'], keep='first', inplace=True)

In [4]:
result = pd.merge(writers, people_old, how='left', on='FullName')
result = result[np.isnan(result['pid'])]
result['pid']=(result.FullName).rank(method='dense')+people_old['pid'].max()
result[['pid']] = result[['pid']].astype(int)
result= result[['pid','FullName']]
people = pd.concat([people_old, result])

In [5]:
people.to_csv('people.csv', sep=',', encoding='utf-8', index=False)

In [6]:
writers = pd.merge(writers, people, how='left', on='FullName')

In [7]:
write = writers.drop(['FullName'],axis=1)

write[['ClipIds']] = write[['ClipIds']].astype(str)
write[['AddInfos']] = write[['AddInfos']].astype(str)
write[['Roles']] = write[['Roles']].astype(str)
write[['WorkTypes']] = write[['WorkTypes']].astype(str)

def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    def splitListToRows(row,row_accumulator,target_column,separator):
        split_row = []
        i=0
        for c in target_column:
            split_row.append(row[c].split(separator))
            i+=1
            
        for s in range (0,len(split_row[0])):
            j=0
            new_row = row.to_dict()
            for c in target_column:
                new_row[c] = split_row[j][s]
                j+=1
            row_accumulator.append(new_row)
    new_rows = []
    df.apply(splitListToRows,axis=1,args = (new_rows,target_column,separator))
    global new_df
    new_df = pd.DataFrame(new_rows)
    return new_df

write = splitDataFrameList( write, ['ClipIds','AddInfos','Roles','WorkTypes'] , '|')

In [8]:
write = write.replace('', np.nan, regex=True)
write = write.replace('nan', np.nan, regex=True)

write = write[['pid', 'ClipIds', 'Roles', 'AddInfos','WorkTypes']]

write.drop_duplicates(subset=['pid','ClipIds'], keep=False)

,pid,ClipIds,Roles,AddInfos,WorkTypes
0,2006887,51264,NaN,written for the screen by,NaN
1,2006887,742507,writer,NaN,NaN
2,2006887,960777,written by,NaN,NaN
3,54,4016759,NaN,2000,NaN
4,59,338267,NaN,"novel ""Die Sonnenuhr""",NaN
5,59,437829,NaN,as Maarten Hart,novel
6,59,623582,NaN,NaN,novel
7,59,781970,NaN,"novel ""De kroongetuige"" as Maarten Hart",NaN
8,59,3347664,writer,NaN,NaN
9,65,2118411,writer,NaN,NaN
10,67,714863,writer,NaN,NaN
11,2347664,2297322,NaN,NaN,scenario
12,2347665,790358,NaN,NaN,novel
13,2347665,797348,NaN,NaN,novel
14,85,1799926,writer,NaN,NaN
17,116,185675,NaN,additional dialogue,NaN
18,2347666,23774,writer,NaN,NaN
19,2347666,1706760,NaN,additional dialogue,NaN
20,2006891,168601,NaN,NaN,screenplay
21,2006891,589753,written by,as Curtis '50 Cent' Jackson,NaN
22,2006891,1551185,NaN,NaN,novel
23,2006891,1585794,NaN,NaN,screenplay
24,2347667,1703837,NaN,NaN,NaN
25,2347668,1450970,writer,NaN,NaN
26,264,3277833,writer,NaN,NaN
27,266,3997539,writer,NaN,NaN
28,266,3997569,writer,NaN,NaN
29,266,3997581,writer,NaN,NaN
30,266,3997582,writer,NaN,NaN
31,2006894,279954,writer,NaN,NaN
...,...,...,...,...,...
2002710,2006738,1672292,writer,NaN,NaN
2002711,2006738,1743859,writer,NaN,NaN
2002712,2006738,1744769,writer,NaN,NaN
2002713,2006738,1746491,writer,NaN,NaN
2002714,2006738,1755379,writer,NaN,NaN
2002715,2006738,1759350,writer,NaN,NaN
2002716,2006738,1770854,writer,NaN,NaN
2002717,2006738,1772668,writer,NaN,NaN
2002718,2006778,4464573,writer,NaN,NaN
2002719,2006800,963071,writer,NaN,NaN
2002720,2006800,1772055,writer,NaN,NaN
2002721,2006806,1769824,NaN,NaN,NaN
2002722,2006806,1769848,writer,NaN,NaN
2002723,2006806,1769859,NaN,NaN,NaN
2002724,2006806,1769866,writer,NaN,NaN
2002725,2006806,1769883,writer,NaN,NaN
2002726,2006806,3705917,writer,NaN,NaN
2002727,2448310,748282,writer,NaN,NaN
2002728,2006825,19256,NaN,NaN,story
2002729,2006825,836046,NaN,NaN,novel
2002730,2448311,1769871,writer,NaN,NaN
2002731,2148874,1772036,writer,NaN,NaN
2002732,2347661,70833,writer,NaN,NaN
2002733,2347661,659412,writer,NaN,NaN
2002734,2448312,748282,NaN,NaN,screenplay
2002735,2148875,3662348,writer,NaN,NaN
2002736,2148876,1773784,writer,NaN,NaN
2002737,2148876,3662348,writer,NaN,NaN
2002738,2148878,463365,writer,NaN,NaN
2002739,2448313,1011214,NaN,passion,NaN

In [9]:
write.to_csv('write.csv', sep=',', encoding='utf-8', index=False)